<html>
  <head>
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body>
    <div>
      <h1>Image File Upload</h1>
    <form action="{{ url_for('upload_files') }}" class="dropzone">
    </form>
    </div>

    <div>
      <h1>Media File Upload</h1>
    <form action="{{ url_for('upload_media_files') }}" class="dropzone">
    </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  </body>
</html>